# Secret properties
application-secret.properties

# Build files
target/
*.jar
*.war
*.ear

# Log files
*.log

# IDE files (Eclipse)
.classpath
.project
.settings/
.metadata

# IDE files (IntelliJ)
.idea/
*.iml

# Mac/OSX
.DS_Store

# Windows
Thumbs.db


# Eclipse metadata
backend/.metadata/

# application-secret.properties 또는 application-dev.properties 와 같은
# 민감한 정보를 담은 설정 파일은 Git에 올리지 않도록 제외합니다.
application-*.properties